<% provide(:title, 'Bridal Party') %>
<div id="subtitle">The Bridal Party</div>
<div id="content">
  <div class="content-left">
  <center>
  <%= image_tag("bianca.jpg", :width => 250) %>
  <h4>Bianca</h4><h5>Maid of Honor</h5>
  Jessie's best friend since 8th grade
  
  <br><br><br>
  <%= image_tag("geoff.jpg", :width => 250) %>
  <h4>Geoff</h4><h5>Bridesman</h5>
  Jessie's a cappella soul mate - we have a telepathic connection when it comes to music
  <br>
  <br><br><br>
  <%= image_tag("charlene.jpg", :width => 250) %>
  <h4>Charlene</h4><h5>Bridesmaid</h5>
  Jessie's first college roommate and very best friend<br> Also Jordan's college roommate... like the sister he never had
  
  <br><br><br>
  <%= image_tag("jake.jpg", :width => 250) %>
  <h4>Jake</h4><h5>Bridesman</h5>
  The best brother a sister could ask for<br>
  And the best brother-in-law Jordan could have
  <br><br><br>
  
  <%= image_tag("jessica1.jpg", :width => 250) %>
  <h4>Jessica</h4><h5>Bridesmaid</h5>
  Became best friends by spending two weeks together in Taiwan, and of course all that band and math class
  </center>
  
  </div>
  <div class="content-right">
  <center>
  
  <%= image_tag("abby.jpg", :width => 250) %>
  <h4>Abby</h4><h5>Best Man</h5>
  Jordan's college housemate and co-worker
  
  <br><br><br>
  <%= image_tag("brendan.jpg", :width => 250) %>
  <h4>Brendan</h4><h5>Groomsman</h5>
   Good friend and kindergarten classmate
  
  <br><br><br>
  <%= image_tag("marie.jpg", :width => 250) %>
  <h4>Marie</h4><h5>Groomsmaid</h5>
  Marie "You guys can never break up" Westover
  
  <br><br><br>
  <%= image_tag("andrew.jpg", :width => 250) %>
  <h4>Andrew</h4><h5>Groomsman</h5>
  Long-time friend and fellow rocketry enthusiast
  
  <br><br><br>
  <%= image_tag("pauline1.jpg", :width => 250) %>
  <h4>Pauline</h4><h5>Groomsmaid</h5>
  A great friend from Oberlin
  </center>  
  </div>

  <div class="content-bottom">
  <center>
  <%= image_tag("roxi.jpg", :width=> 250) %>
  <h4>Roxi</h4><h5>Wedding Coordinator</h5>
  Jessie's childhood best friend
  </center>
  </div>
</div>
