<% provide(:title, 'Bridal Party') %>
<div id="subtitle">The Bridal Party</div>
<div id="content">
  <div class="content-left">
  <center>
  <%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn2/223063_10102326187683056_2140605640_n.jpg", :width => 250) %>
  <h4>Bianca</h4><h5>Maid of Honor</h5>
  Jessie's best friend since 8th grade
  
  <br><br><br>
  <%= image_tag("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn1/312869_2081552352745_1748751838_n.jpg", :width => 250) %>
  <h4>Geoff</h4><h5>Bridesman</h5>
  Jessie's a cappella soul mate - we have a telepathic connection
  <br>
  <br><br><br>
  <%= image_tag("https://sphotos-a.xx.fbcdn.net/hphotos-ash3/255514_686513454414_1417099307_n.jpg", :width => 250) %>
  <h4>Charlene</h4><h5>Bridesmaid</h5>
  Jessie's first college roommate and very best friend. Also Jordan's college roommate... like the sister he never had
  
  <br><br><br>
  <%= image_tag("http://m3.licdn.com/mpr/pub/image-ZqnPPvKSvdUkIzZ_v_3RZmKamMyPa9VBUWnRnS9SRxxXJRuOUqnRnzXlEjOXGEYYdrS/jacob-rucker.jpg", :width => 250) %>
  <h4>Jake</h4><h5>Bridesman</h5>
  The best brother a sister could ask for. And the best brother-in-law Jordan could have.
  <br><br><br>
  
  <%= image_tag("https://sphotos-a.xx.fbcdn.net/hphotos-prn1/560137_807877729402_1646378760_n.jpg", :width => 250) %>
  <h4>Jessica</h4><h5>Bridesmaid</h5>
  Jessie's secret twin, became best friends by spending two weeks together in Taiwan, and of course all that band and math class together
  </center>
  
  </div>
  <div class="content-right">
  <center>
  
  <%= image_tag("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/392835_731835743184_130884114_n.jpg", :width => 250) %>
  <h4>Abby</h4><h5>Best Man</h5>
  slakjgksjg
  
  <br><br><br>
  <%= image_tag("https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-snc7/2680_658667772377_5419978_n.jpg", :width => 250) %>
  <h4>Andrew</h4><h5>Groomsman</h5>
  
  <br><br><br>
  <%= image_tag("https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/p206x206/155925_603092111892_2105184074_n.jpg", :width => 250) %>
  <h4>Marie</h4><h5>Groomsmaid</h5>
  Marie "You guys can never break up" Westover
  <br><br><br>
  <%= image_tag("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/532141_10100464000605928_54758714_n.jpg", :width => 250) %>
  <h4>Beldin</h4><h5>Groomsman</h5>
  </center>
  
  <br><br><br>
  <%= image_tag("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/536588_3564133497186_1510833007_n.jpg", :width => 250) %>
  <h4>Pauline</h4><h5>Groomsmaid</h5>
  asdkfjhsfdkj
  
  </div>
  <div class="content-bottom">
  <center>
  <%= image_tag("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/35297_927508967491_4095840_n.jpg", :width=> 250) %>
  <h4>Roxi</h4><h5>Wedding Coordinator</h5>
  Jessie's childhood best friend
  </center>
  </div>
</div>
