<% provide(:title, 'Location') %>
<div id="subtitle">Location & Travel Information</div>
<div id="content">
  <div class="content-bottom"><center>
    <%= image_tag("SanDiego_panorama_resized.jpg", :alt=> "San Diego Skyline", :width=>950) %><br><br>
    Welcome to San Diego, California
    </center>
    
    <div class="minisubtitle">Transportation & Directions</div>
    <table><tr><td width = 350><center><%= image_tag("coasthwy-bridge-painted.jpg", :alt=>"Coast Highway", :width => 300) %></center>
    </td>
    
    <td width =600>Del Mar is just 20 minutes north of San Diego, or about two hours from Los Angeles - just take I-5 to Del Mar Heights Road and head west to the ocean. The <a href="http://www.san.org/">San Diego Airport</a> and <a href="http://www.gonctd.com/coaster">Coaster (local train) stations</a> are convenient transportation hubs.
    <br>
    <br>Seagrove Park is a 5 minute walk from the Powerhouse in Del Mar:
    <br>
    <br>The Del Mar Powerhouse
    <br>1658 Coast Boulevard
    <br>Del Mar, CA 92014
    </td>
    </tr></table>


    
    <div class="minisubtitle">Lodging & Map</div>
    
    We are getting room blocks at three local hotels, all convenient to the wedding: the Torrey Pines/La Jolla Hilton, the Del Mar/Carmel Valley Doubletree, and Hotel Indigo in Del Mar. More details available soon - please check back!
    <br>
    <br>
    <ul>
    <li><%= link_to "Hilton Reservation Website", 'http://www.hilton.com/en/hi/groups/personalized/S/SANTPHH-60L-20140103/index.jhtml?WT.mc_id=POG' %></li>
    <br><br>
    
    <center>Explore the area using our customized map! Zoom out to see areas surrounding Del Mar.
    <br><br>
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=201842657862714677233.0004de6042540634c413f&amp;ie=UTF8&amp;t=m&amp;ll=32.955241,-117.258668&amp;spn=0.017285,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=201842657862714677233.0004de6042540634c413f&amp;ie=UTF8&amp;t=m&amp;ll=32.955241,-117.258668&amp;spn=0.017285,0.027466&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Del Mar Wedding Map</a> in a larger map</small></center>
    
    <br>
    <br><u>Del Mar Lodging</u>
    <br>Hotels in Del Mar proper
    <ul>
    <!--li><%= link_to "Wave Crest", 'http://www.wavecrestresort.com/info.php?pnum=4' %> (from $150/night)</li-->
    
    <li><%= link_to "Hotel Indigo", 'http://www.hotelindigo.com/hotels/us/en/del-mar/sandm/hoteldetail?qAdlt=1&qChld=0&qRms=1&qIta=99504425&qPSt=0&qSmP=3&qWch=0&qSHp=1&qBrs=6c.cp.cv.cw.ex.hi.ic.in.rs.sb&qSrt=BRAND_SORT&qRpp=25&qFRA=1&srb_u=1&icdv=99504425&siclientid=1933&' %> (from $339/night - *$139/night anticipated room block rate) - renovated in 2011, a very modern and spacious hotel with two pools and a gorgeous lobby/restaurant and views of the Pacific. Within walking distance to Del Mar.</li>
    
    <li><%= link_to "Les Artistes Inn", 'http://lesartistesinn.whizzhotels.com/' %> (from $149/night) - a fun, eclectic Del Mar hotel with ocean-view rooms and an intimate setting. Located right next to the weekend Farmer's Market, and also the closest hotel to the heart of Del Mar.</li>
    
    <li><%= link_to "Hilton Del Mar", 'http://www3.hilton.com/en/hotels/california/hilton-san-diego-del-mar-SANDMHF/index.html' %> (from $189/night) - north of downtown Del Mar and right next to the Fairgrounds. Very convenient to I-5, but also tucked away in a quiet setting.</li>
  
    <li><%= link_to "L'Auberge", 'http://www.laubergedelmar.com/' %> (from $350/night) - the ultimate vacationer's hotel. Stunning views and a very short walk to the beach, Seagrove Park, and the Powerhouse</li>
    </ul>
    <br>
    
    <u>Torrey Pines Lodging</u>
    <br>Two hotels located on the cliffs of Torrey Pines - stunning ocean views, proximity to the famous Torrey Pines Golf Course, and just a five-minute drive to Del Mar.
    <ul>
    <li><%= link_to "Torrey Pines Hilton", 'http://www.hiltonlajollatorreypines.com/' %> (from $99/night - *$94/night room block rate, held until Dec 13th) - a beautiful Hilton overlooking the golf course and Pacific ocean. Please note: guest parking is $25</li>
    
    <li><%= link_to "The Lodge at Torrey Pines", 'http://www.lodgetorreypines.com/' %> (from $360/night) - right on the Torrey Pines golf course with amazing amenities and beautiful ocean views.</li>
    </ul>
    <br>
    
    <u>Carmel Valley Hotels</u>
    <br>Four hotels convenient to I-5, I-56, and a five-minute drive to Del Mar. Walking distance to local shopping centers and restaurants!
    <ul>    
    <li><%= link_to "Doubletree", 'http://www.sandiegodoubletreehotel.com/' %> (from $135/night - *$109/night anticipated room block rate) - cookies on arrival, a beautiful lobby, and a deck opening onto the hotel pool.</li>
    
    <li><%= link_to "Mariott", 'http://www.marriott.com/hotels/travel/sandm-san-diego-marriott-del-mar/' %> (from $229/night)</li>
    
    <li><%= link_to "Hampton Inn", 'http://hamptoninn3.hilton.com/en/hotels/california/hampton-inn-san-diego-del-mar-SANDLHX/index.html' %> (from $177/night)</li>

    <li><%= link_to "Residence Inn", 'http://www.marriott.com/hotels/travel/sandl-residence-inn-san-diego-del-mar' %> (from $219/night) - brand new Residence Inn servicing Carmel Valley and Del Mar.</li>
    </ul>
    <br>
   
    <u>Torrey Hills Hotels</u>
    <br>Two newer hotels, tucked away in the quiet suburbs and offices of Torrey Hills, with just a 10-minute drive to Del Mar. 
    <ul>
    <li><%= link_to "Hilton Garden Inn", 'http://hiltongardeninn3.hilton.com/en/hotels/california/hilton-garden-inn-san-diego-del-mar-SANMDGI/index.html' %> (from $138/night) - note: I have seen rates as low as $97/night, but they may not be available before January.</li>
    
    <li><%= link_to "Homewood Suites", 'http://homewoodsuites3.hilton.com/en/hotels/california/homewood-suites-by-hilton-san-diego-del-mar-SANDEHW/index.html' %> (from $113/night)</li>
    </ul>
  </div>
</div>
